#zotero-items-tree {
  .virtualized-table .row {
    height: fit-content !important;
    position: relative !important;
    top: unset !important;
    padding: 5px 0;
  }

  .virtualized-table .cell {
    white-space: unset !important;
  }

  .virtualized-table-body .cell {
    text-overflow: unset !important;
  }
}
